sound.txt
Debug
Release
allegro.log
framework.h
Mice-Eat-Cats.h
Mice-Eat-Cats.ico
Mice-Eat-Cats.rc
Mice-Eat-Cats.vcxproj
Mice-Eat-Cats.vcxproj.filters
Mice-Eat-Cats.vcxproj.user
Resource.h
small.ico
targetver.h
